@import '../../../assets/css/palette';
@import '../../../assets/css/metrics';

@media (min-width: $tablet-screen) {
  .container {
    max-width: 112rem;
    padding: 0 2rem;
  }

  .links {
    ul {
      width: auto;

      li {
        margin: 0 2rem 0 0;
      }

      .clock {
        display: block;
      }
    }
  }

  .row {
    margin-left: -1rem;
    width: calc(100% + 2rem);
  }

  .block {
    padding: 5rem;
  }
}
