@import '../../../assets/css/palette';
@import '../../../assets/css/metrics';

.block {
  margin-bottom: 2.5rem;
  padding: 0 2rem;

  h2 {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    i {
      font-size: $font-size-h1;
      margin-right: 1rem;
    }
  }
}
