@import '../../../assets/css/palette';
@import '../../../assets/css/metrics';

.header {
  background: url('/assets/images/header.jpg') left top / cover no-repeat;
  height: 30rem;
  margin-bottom: 1.5rem;
  padding: 2rem 3rem;
  position: relative;

  h1 {
    color: $primary-color-text;
  }
}

.links {
  background-color: $primary-color-dark;
  bottom: 0;
  display: flex;
  font-size: $font-size-h5;
  justify-content: space-between;
  left: 0;
  padding: 1rem 2.5rem;
  position: absolute;
  width: 100%;

  // TODO: align icons
  i {
    &.fa {
      font-size: $font-size-h2;
      margin-right: .6rem;
      vertical-align: middle;
    }
  }

  a {
    color: $primary-color-text;
  }
}

.column {
  padding: 5rem;
}

.block {
  h2 {
    border-bottom: .4rem solid $primary-color-dark;
  }
}
