<div class="container">
  <div class="header">
    <h1><a routerLink="/home">Desarrollo de Software</a></h1>
    <div class="links">
      <a class="phone"><i class="fa fa-w fa-phone"></i><span>685.56.01.17</span></a>
      <a class="email"><i class="fa fa-w fa-envelope-o"></i><span>gonzalo.chumillas@gmail.com</span></a>
    </div>
  </div>
  <div class="body">
    <div class="row">
      <div class="column">
        <div class="block">
          <h2><span>Programación a medida</span> <i class="fa fa-laptop" aria-hidden="true"></i></h2>
          <div class="text">
            Una aplicación web puede ayudar a gestionar de forma mucho más eficiente cualquier actividad empresarial con una
            mínima inversión inicial.
          </div>
        </div>
      </div>
      <div class="column">
        <div class="block">
          <h2><span>Diseño web</span> <i class="fa fa-code" aria-hidden="true"></i></h2>
          <div class="text">
            Toda empresa o profesional deben contar con un sitio web que fortalezca su marca de identidad.
            Nosotros ofrecemos diseños únicos, minimalistas y enfocados al contenido.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="block">
          <h2><span>Hosting y dominios</span> <i class="fa fa-server" aria-hidden="true"></i></h2>
          <div class="text">
            Le ayudaremos a publicar su sitio web en Internet registrando un hosting y un dominio a su nombre.
            Si lo necesita, también le ayudaremos a registrar una dirección de correo electrónico.
          </div>
        </div>
      </div>
      <div class="column">
        <div class="block">
          <h2><span>Contactar</span> <i class="fa fa-w fa-comments-o"></i></h2>
          <div class="text">
            Si desea solicitar más información, envíenos un correo a gonzalo.chumillas@gmail.com
            o llámenos directamente al <i class="fa fa-phone"></i> 685.56.01.17.
            Nos pondremos en contacto con usted lo antes posible.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
