@import '../../../assets/css/palette';
@import '../../../assets/css/metrics';

@media (min-width: $tablet-screen) {
  .container {
    max-width: 112rem;
    padding: 0 2rem;
  }

  .links {
    // padding: .6rem 20rem;

    .schedule {
      display: block;
    }
  }

  .block {
    padding: 5rem;
  }
}
