<div class="container">
  <div class="header">
    <h1>Diseño y Programación Web</h1>
    <div class="links">
      <div>
        <a>
          <i class="fa fa-w fa-phone"></i>
          <span>685.56.01.17</span>
        </a>
      </div>
      <div>
        <a>
          <i class="fa fa-w fa-clock-o"></i>
          <span>9:00 - 17:00</span>
        </a>
      </div>
      <div>
        <a>
          <i class="fa fa-w fa-envelope-o"></i>
          <span>gonzalo.chumillas@gmail.com</span>
        </a>
      </div>
    </div>
  </div>
  <div class="body">
    <p>Body here</p>
  </div>
</div>
