<div class="container">
  <div class="header">
    <h1>Desarrollo de Software</h1>
    <div class="links">
      <a class="phone"><i class="fa fa-w fa-phone"></i><span>685.56.01.17</span></a>
      <a class="email"><i class="fa fa-w fa-envelope-o"></i><span>gonzalo.chumillas@gmail.com</span></a>
    </div>
  </div>
  <div class="body">
    <div class="row">
      <div class="column">
        <div class="block">
          <h2>Programación</h2>
          <div class="text">
            Proin eget tortor risus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
          </div>
        </div>
      </div>
      <div class="column">
        <div class="block">
          <h2>Asistencia Técnica</h2>
          <div class="text">
            Sed porttitor lectus nibh. Donec rutrum congue leo eget malesuada. Donec sollicitudin molestie malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="block">
          <h2>Hosting</h2>
          <div class="text">
            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta. Nulla porttitor accumsan tincidunt. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
          </div>
        </div>
      </div>
      <div class="column">
        <div class="block">
          <h2>Contactar</h2>
          <div class="text">
            Nulla quis lorem ut libero malesuada feugiat. Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
