@import '../../../assets/css/palette';
@import '../../../assets/css/metrics';

.container {
  max-width: none;
  padding: 0;
}

.header {
  background: url('/assets/images/header.jpg') left top / cover no-repeat;
  height: 30rem;
  margin-bottom: 2.5rem;
  padding: 2rem 3rem;
  position: relative;

  h1 {
    a {
      color: $primary-color-text;
    }
  }
}

.links {
  background-color: $primary-color-dark;
  bottom: 0;
  display: flex;
  font-size: $font-size-h5;
  justify-content: space-between;
  left: 0;
  padding: 1rem 2.5rem;
  position: absolute;
  width: 100%;

  .schedule {
    display: none;
  }

  .email {
    span {
      display: none;
    }
  }

  // TODO: align icons
  a {
    color: $primary-color-text;

    i {
      font-size: $font-size-h4;
      margin-right: 1rem;
      vertical-align: middle;
    }
  }
}

.block {
  margin-bottom: 2.5rem;
  padding: 0 2rem;

  h2 {
    align-items: center;
    border-bottom: .4rem solid $primary-color-dark;
    display: flex;
    justify-content: space-between;
  }
}
