@import '../../../assets/css/palette';
@import '../../../assets/css/metrics';

.header {
  background: url('/assets/images/header.jpg') left top / cover no-repeat;
  height: 25rem;
  margin-bottom: 2.5rem;
  padding: 2rem 3rem;
  position: relative;

  h1 {
    a {
      color: $primary-color-text;
      text-decoration: none;
      white-space: normal;
    }
  }
}

.links {
  background-color: $primary-color-dark;
  bottom: 0;
  color: $primary-color-text;
  font-size: $font-size-h5;
  font-weight: 400;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;

  ul {
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  li {
    line-height: 2.2;
    margin: 0 1.6rem;
  }

  .clock {
    display: none;
  }

  .email {
    span {
      display: none;
    }
  }

  a {
    color: $primary-color-text;
    font-size: $font-size-h5;
    text-decoration: none;

    span {
      margin-left: .3rem;
    }
  }
}
