@import '../../../assets/css/palette';
@import '../../../assets/css/metrics';

@media (min-width: $tablet-screen) {
  .links {
    ul {
      width: auto;

      li {
        margin: 0 3rem 0 0;
      }

      .clock {
        display: block;
      }
    }
  }
}
