@import '../../../assets/css/palette';
@import '../../../assets/css/metrics';

.header {
  background: url('/assets/images/header.jpg') left top / cover no-repeat;
  height: 25rem;
  margin-bottom: 2.5rem;
  padding: 2rem 3rem;
  position: relative;

  h1 {
    font-size: $font-size-h2;

    a {
      color: $primary-color-text;
      font-weight: 300;
      text-decoration: none;
      white-space: normal;
    }
  }
}

.links {
  bottom: 0;
  color: $primary-color-text;
  font-weight: 400;
  left: 3rem;
  position: absolute;

  ul {
    list-style: none;
    margin-bottom: 2rem;
  }

  i {
    margin-right: .6rem;
  }

  a {
    color: $primary-color-text;
  }
}
