<div class="container">
  <app-header></app-header>

  <div class="body">
    <h2>Contactar</h2>
    <p>Mi nombre es Gonzalo. Actualmente vivo en Cádiz y durante más de diez años me he dedicado al desarrollo de aplicaciones y sitios web. Aunque he trabajado en muchas plataformas, como J2EE o Delphi, actualmente centro mi atención en tecnologías orientadas a la web, como HTML5, CSS3, jQuery, PHP, Linux y MySQL. En la actualidad desarrollo aplicaciones en Angular y TypeScript, una combinación ideal para la creación de interfaces de usuario. Si lo desea puede visitar mi cuenta GitHub, donde expongo algunos de mis últimos trabajos: <a href="http://github.com/gchumillas" target="_blank"><i class="fa fa-external-link"></i> github.com/gchumillas</a></p>
    <p>Si tiene alguna duda o desea conocer más información puede llamarme al <strong><i class="fa fa-phone"></i> <span>{{env.phone}}</span></strong> o escribirme a <a [href]="sanitize('mailto:' + env.email + '?subject=Solicitar información')"><i class="fa fa-envelope-o"></i> <span>{{env.email}}</span></a>. Me pondré en contacto con usted lo antes posible.</p>
  </div>
</div>

<app-footer></app-footer>
