<div class="container">
  <app-header></app-header>

  <div class="body">
    <h2>Contactar</h2>
    <p>Mi nombre es Gonzalo. Actualmente vivo en Cádiz y durante más de diez años me he dedicado al desarrollo de aplicaciones y sitios web. Aunque he trabajado en muchas plataformas, como <strong>J2EE</strong> o <strong>Delphi</strong>, actualmente centro mi atención en tecnologías orientadas a la web, como <strong>HTML5</strong>, <strong>CSS3</strong>, <strong>jQuery</strong>, <strong>PHP</strong>, <strong>Linux</strong> y <strong>MySQL</strong>. En la actualidad desarrollo aplicaciones en <strong>Angular</strong> y <strong>TypeScript</strong>, una combinación ideal para la creación de interfaces de usuario. Si lo desea puede visitar mi cuenta <a href="http://github.com/gchumillas" target="_blank"><i class="fa fa-external-link"></i> GitHub</a>, donde expongo algunos de mis últimos trabajos.</p>
    <p>Si tiene alguna duda o desea conocer más información puede llamarme al <strong><i class="fa fa-phone"></i> <span>{{env.phone}}</span></strong> o escribirme a <a [href]="sanitize('mailto:' + env.email + '?subject=Solicitar información')"><i class="fa fa-envelope-o"></i> <span>{{env.email}}</span></a>. Me pondré en contacto con usted lo antes posible.</p>
  </div>
</div>

<app-footer></app-footer>
