<div class="container">
  <app-header></app-header>

  <div class="body">
    <h2>Programación a medida</h2>

    <div class="row">
      <div class="column column-67">
        <div class="section">
          <h3>Introducción</h3>
          <p>Con una inversión inicial razonable podemos adquirir una aplicación web que nos permita gestionar nuestro trabajo o actividad de forma mucho más eficiente.</p>

          <h4>Ventajas de las aplicaciones web</h4>
          <p>Hubo un tiempo, no hace mucho, en el que las aplicaciones de gestión "se instalaban" en los ordenadores. Pero esa tendencia cambió con el tiempo y hoy en día la mayoría de las aplicaciones de gestión son accesibles desde cualquier navegador web, como Microsoft Edge, Chrome o Firefox. Y ello representa varias ventajas:</p>

          <ul>
            <li>Podemos acceder a nuestra aplicación desde cualquier lugar del planeta.</li>
            <li>Usamos siempre la última versión de la aplicación.</li>
            <li>Nuestra información personal está protegida frente malwares.</li>
          </ul>

          <h4>Primero móvil</h4>
          <p>Somos conscientes de que la mayoría de las personas acceden a Internet a través de dispositivos móviles, y ésa tendendcia se irá reforzando con el tiempo. Es por éllo que nuestra principal preocupación es desarrollar aplicaciones accesibles desde el propio móvil.</p>
        </div>

        <div class="section">
          <h3>Entorno de trabajo</h3>
          <p>Angular y TypeScript son la combinación ideal para el desarrollo de interfaces de usuario y se integran a la perfección con la mayoría de los editores modernos, como Atom, Eclipse o Visual Studio. Además, ambos poseen una gran comunidad y una extensa documentación.</p>
        </div>

        <div class="section">
          <h3>Proyectos</h3>
          <h4>Gestor de fotografías online</h4>
          <p>Se trata de una aplicación para gestionar fotografías y adaptada a dispositivos móviles. La aplicación fue desarrollada en Angular, TypeScript, PHP y MySQL y usa los servicios de Dropbox como almacén de imágenes.</p>

          <h4>Gestor de contenidos universal</h4>
          <p>Esta aplicación altamente configurable permite gestionar el contenido de cualquier sitio web, sin importar cómo haya sido desarrollado. La aplicación fue desarrollada primeramente en jQuery, PHP y MySQL.</p>
        </div>
      </div>
      <div class="column">
        <ul class="menu">
          <li><a>Introducción</a></li>
          <li><a>Entorno de trabajo</a></li>
          <li><a>Proyectos</a></li>
          <li><a>Contactar</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
