@import '../../../assets/css/palette';
@import '../../../assets/css/metrics';

.row {
  // flex-direction: row-reverse;

  .contents {
    flex: initial;
    max-width: none;
  }

  .menu {
    display: none;

    ul {
      color: $primary-color;
      float: right;
      font-weight: 400;
      list-style: upper-roman;
    }
  }
}

.thumb {
  border: 1px solid $divider-color;
  display: inline-block;
  padding: .6rem;

  img {
    display: block;
    width: 20rem;
  }
}

.section {
  clear: both;
}

.description {
  .thumb {
    float: right;
    margin-left: 2.5rem;
  }
}
