<div class="container">
  <app-header></app-header>

  <div class="body">
    <h2>Programación a medida</h2>

    <div class="row">
      <div class="column menu">
        <ul>
          <li><a ngx-scroll-to="intro">Introducción</a></li>
          <li><a ngx-scroll-to="projects">Proyectos</a></li>
          <li><a ngx-scroll-to="contact">Contactar</a></li>
        </ul>
      </div>

      <div class="column column-75 contents">
        <div class="section" id="intro">
          <h3>Introducción</h3>
          <p>Con una inversión inicial razonable podemos adquirir una aplicación web que nos permita gestionar nuestro trabajo o actividad de forma mucho más eficiente.</p>

          <h4>Ventajas de las aplicaciones web</h4>
          <p>Hubo un tiempo, no hace mucho, en el que las aplicaciones de gestión "se instalaban" en los ordenadores. Pero esa tendencia cambió con el tiempo y hoy en día la mayoría de las aplicaciones de gestión son accesibles desde cualquier navegador web, como Microsoft Edge, Chrome o Firefox. Y ello representa varias ventajas:</p>

          <ul>
            <li>Podemos acceder a nuestra aplicación desde cualquier lugar del planeta.</li>
            <li>Usamos siempre la última versión de la aplicación.</li>
            <li>Nuestra información personal está protegida frente malwares.</li>
          </ul>

          <h4>Primero móvil</h4>
          <p>Somos conscientes de que la mayoría de las personas acceden a Internet a través de dispositivos móviles, y ésa tendendcia se irá reforzando con el tiempo. Es por éllo que nuestra principal preocupación es desarrollar aplicaciones accesibles desde el propio móvil.</p>
        </div>

        <div class="section" id="projects">
          <h3>Proyectos</h3>

          <h4>Gestor de fotografías online</h4>
          <div class="description">
            <a class="thumb"><img src="/assets/images/photobox.png" alt="Photobox"></a>
            <p>Se trata de una aplicación para gestionar fotografías y adaptada a dispositivos móviles. La aplicación fue desarrollada en <strong>Angular</strong>, <strong>TypeScript</strong>, <strong>PHP</strong> y <strong>MySQL</strong> y usa los servicios de <strong>Dropbox</strong> como almacén de imágenes.<br><br>
            <a href="https://github.com/gchumillas/petitphotobox" target="_blank"><i class="fa fa-external-link"></i> github.com/gchumillas/petitphotobox</a></p>
          </div>

          <h4>Gestor de contenidos universal</h4>
          <div class="description">
            <a class="thumb"><img src="/assets/images/cms.png" alt="CMS"></a>
            <p>Esta aplicación altamente configurable permite gestionar el contenido de cualquier sitio web, sin importar cómo haya sido desarrollado. La aplicación fue desarrollada primeramente en <strong>jQuery</strong>, <strong>PHP</strong> y <strong>MySQL</strong>.<br><br>
            <a href="http://cms.gchumillas.com/cms/" target="_blank"><i class="fa fa-external-link"></i> cms.gchumillas.com/cms</a></p>
          </div>
        </div>

        <div class="section" id="contact">
          <h3>Contactar</h3>
          <p>Si está interesado o desea conocer más información puede llamarnos al <strong><i class="fa fa-phone"></i> <span>{{env.phone}}</span></strong> o enviarnos un correo a <a [href]="sanitize('mailto:' + env.email + '?subject=Solicitar información')"><i class="fa fa-envelope-o"></i> <span>{{env.email}}</span></a>. Nos pondremos en contacto con usted lo antes posible.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
