@import './assets/css/metrics';
@import './assets/css/palette';

:scope {
  body {
    color: $primary-text-color;
  }

  .container {
    // border: 1px solid transparent;
    max-width: none;
    min-height: calc(100vh - 5rem);
    padding: 0;
  }

  .row {
    margin-left: auto;
    width: 100%;
  }

  // TODO: simplifica!
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Play', sans-serif;
  }

  h1 {
    font-size: $font-size-h2;
  }

  h2 {
    font-size: $font-size-h3;
  }

  h3 {
    font-size: $font-size-h4;
  }

  h4 {
    font-size: $font-size-h5;
  }

  h5 {
    font-size: $font-size-h6;
  }

  a {
    color: $primary-color-dark;
    cursor: pointer;
    font-weight: 400;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }

  strong {
    font-weight: 400;
  }
}

@media (min-width: $tablet-screen) {
  :scope {
    .container {
      max-width: 112rem;
      padding: 0 2rem;
    }

    .row {
      margin-left: -1rem;
      width: calc(100% + 2rem);
    }
  }
}
